@{
    Layout = "_Layout";
}

<div class="container">
    <div class="card">
        <h1>Welcome to the Mirgoz Cinema!</h1>
        <p>@Html.ActionLink("See all movies", "Index", "Movies")</p>
        <p>@Html.ActionLink("See all genres", "Index", "Genres")</p>
    </div>
</div>